/* eslint-disable */


module.exports = {
  port: process.env.PORT || 1337,
  node_env: process.env.NODE_ENV || 'development',
  env: 'LOCAL',
  app: 'app_local',

  websiteUrl: 'http://localhost:3500',
  apiUrl: 'http://localhost:1337',
  cdnUrl: 'http://localhost:3400',
  redis: {},
  session: {},
  sqldb: {
    user: 'root',
    password: '',
    host: process.env.DATABASE_HOST || 'localhost',
    database: process.env.DATABASE_NAME || 'app_database_env',
    port: process.env.DATABASE_PORT || 3306,
    dialect: 'mysql',
    options: {
      dialect: 'mysql',
      logging: false, // use DEBUG=sequelize:*  to see sql logs

    }
  },

  mail: {
    transport: 'smtp', // aws | gmail | sendgrid | smtp
    protocol: 'SMTP',
    options: {
      host: '127.0.0.1',
      port: 25;
      tls: {
        rejectUnauthorized: true
      }
    },
    from: 'hello@applocal.com'
  },
  sendgrid: {
    auth: {
      api_key: ''
    }
  },
  slack: {
    webhook: '',
    channel: '#app_dev'
  },
  tokenSecret: process.env.APP_SECRET || '',
  google: {
    clientId: '',
    clientSecret: '',
    redirectUrl: '',
  },
  facebook: {
    clientId: '',
    clientSecret: '',
    redirectUrl: '',
    graphApiUrl: ''
  }
};


